@use "sass:math";
@use "sass:list";

@function calculateRem($size) {
    $remSize: '';

    @if type-of($size)=='list' {
        $size: list.nth($size, 1);
        $remSize: #{math.div($size, 16px)}rem !important;
    }

    @else {
        $remSize: #{math.div($size, 16px)}rem;
    }

    @return $remSize;
}

@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}


.section-heading{
    @include fontSize(28px);
    font-weight: 600;
    margin-bottom: 1rem;
    &:after{
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background-color: $secondary;
        margin-top: 0.5rem;
    }
    &.heading-center{
        text-align: center;
        &:after{
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.section-subheading{
    @include fontSize(22px);
    font-weight: 700;
    margin-bottom: 1rem;
}

.img-box {
    padding: 30px;
    width: 18%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.hours-card{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    .hours-cardbody{
        padding: 20px;
        text-align: end;
        min-height: 200px;
        display: flex;
        align-items: end;
        justify-content: end;
        .total-hours{
            position: absolute;
            top: -50px;
            left: -30px;
            border-radius: 100%;
            width: 160px;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            >span{
                @include fontSize(36px);
                font-weight: 700;
                margin-top: 30px;
                span{
                    @include fontSize(24px);
                }
            }
        }
    }
}