@use "sass:math";
@use "sass:list";

@function calculateRem($size) {
    $remSize: '';

    @if type-of($size)=='list' {
        $size: list.nth($size, 1);
        $remSize: #{math.div($size, 16px)}rem !important;
    }

    @else {
        $remSize: #{math.div($size, 16px)}rem;
    }

    @return $remSize;
}

@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}


.section-heading{
    @include fontSize(28px);
    font-weight: 600;
    margin-bottom: 1rem;
    &:after{
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background-color: $secondary;
        margin-top: 0.5rem;
    }
}
.section-subheading{
    @include fontSize(22px);
    font-weight: 700;
    margin-bottom: 1rem;
}