$primary: #143e57;
$secondary:#f0a80b;
$success:#008000;
$info:#212121;
$danger:#f70000;
$light:#CACACA1A;
$dark: #333333;
$border:#AEAEAE;
$light-gray: #c7c7c7;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1480px
);

// Theme variable
$h1-font-size:  2rem;
$small-font-size: 0.85rem;
$rfs-base-font-size: 0.85rem;
$btn-font-family: "Outfit", sans-serif;
